
.main-wrapper{
  .banner{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img{
      width: 250px;
      height: 250px;
    }
  }
}